<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrOVXVLok6w7pl3ZfKsi5vhSCWChQQtqg</string>
	<key>GCM_SENDER_ID</key>
	<string>846806930942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventmainapp</string>
	<key>PROJECT_ID</key>
	<string>eventfest-part-one</string>
	<key>STORAGE_BUCKET</key>
	<string>eventfest-part-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846806930942:ios:8817f402fea742726d1caf</string>
</dict>
</plist>